<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container" id="main-content">
        <div class="row">
            <div class="col-6 no-padding">
                <form class="form-inline" action="#" th:action="@{/employee/search}" method="get">
    <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search by age ..." />
    <button class="btn btn-primary" type="submit">
        <i class="fa fa-search"></i> Search
    </button>
</form>
            </div>
        <div class="col-5 no-padding">
              <a href="#" th:href="@{/employee/add}" class="btn btn-success float-right">
    <i class="fa fa-plus-square"></i> New Employee
</a>
            </div>
        </div>

        <div class="row mt-4">
            <th:block th:if="${#lists.isEmpty(employees)}">
                <h5>No contacts</h5>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(employees)}">
                <div class="table-responsive">
                    <h5>List of contacts</h5>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>age</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee,iterStat : ${employees}">
                            <th scope="row" th:text="${iterStat.count}"></th>
                            <td th:text="${employee.firstname}"></td>
                            <td th:text="${employee.lastname}"></td>
                            <td th:text="${employee.fullname}"></td>
                            <td th:text="${employee.phone}"></td>
                            <td>
                                <a href="#" th:href="@{/employee/{id}/edit(id=${employee.id})}" class="mr-sm-2 text-primary">
    								<i class="fa fa-pencil"></i>
								</a>
                                <a href="#" th:href="@{/employee/{id}/delete(id=${employee.id})}" class="text-danger">
    								<i class="fa fa-trash"></i>
								</a>
								 <a href="#" th:href="@{/employee/{id}/detail(id=${employee.id})}" class="mr-sm-2 text-primary">
    								<i class="fa fa-pencil"></i>
								</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </th:block>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>

</body>
</html>